.tickets-header {
  display: grid;
  gap: 2rem;
  grid-template-columns: auto 1fr;
}

.table {
  margin-top: 1rem;
}
.table.hidden {
  visibility: hidden;
}

.scrollable-tickets {
  overflow-y: scroll;
  height: calc(100vh - 15rem);
}
.scrollable-tickets::-webkit-scrollbar {
  width: 0;
}

.tickets {
  display: grid;
  grid-template-columns: 2rem 3rem 1fr;
  gap: 0.25rem 2rem;
  font-size: 1rem;
  text-align: left;
}
