.table {
  margin-top: 1rem;
}

.scrollable-tickets {
  overflow: scroll;
  height: calc(100vh - 12rem);
}

.tickets {
  display: grid;
  grid-template-columns: 1.5rem 2rem 1fr 1fr;
  gap: 0.25rem 1rem;
  font-size: 0.75rem;
  text-align: left;
}

.tickets.header {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(45deg, #00f0f0, #e91af0);
}
